html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #EFEFED;
  background: #171C1D;
}

a {
  color: #3C9489;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  color: #0AE894;
}

li {
  list-style: none;
  margin: 10px;
  font-size: 20px;
}
